Source: firmware-db8060a
Section: kernel
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Vcs-Git: http://git.pragmatux.org/firmware-db8060a.git
Vcs-Browser: http://git.pragmatux.org/firmware-db8060a.git

Package: firmware-db8060a
Architecture: all
Depends: systemd, ${misc:Depends}
Description: Firmware for DragonBoard 8060A
 This package indirectly supplies the firmware required by various
 parts of the DragonBoard 8060A's SOC. It links the firmware stored in
 the board's special firmware partition into udev's firmware search
 path.
